PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3306
DB_NAME=artisan_db
DB_USER=root
DB_PASSWORD=root123

API_KEY=monsupersecret123

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=votre@gmail.com
MAIL_PASS=votre_mot_de_passe
MAIL_FROM="Trouve ton Artisan <noreply@trouve-ton-artisan.fr>"

ALLOWED_ORIGINS=http://localhost:5173